*{
    /* border: 1px dashed rgb(73, 73, 73); */
}
.wrapper{
    max-width: 100%;
}

.header__container{
    max-width: 100%;
    background: #FFCC00;
    min-height: 70px;
   
}

.header__box{
display: flex;
margin: 10px 60px;
justify-content: space-between;
}

.header__logo{
    width: 7%;
}

.header__signblock{
    /* background: #d1cfc4; */
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header__signblock_language{
    /* background: #7eda89; */
    display: flex;
    width: 40%;
    font-size: 1em;
}

.header__signblock_sign{
    /* background: #7ec6da; */
    display: flex;
    width: 60%;
}

.signblock__searching{
    display: flex;
    align-items: center;
    width: 250px;
    background: white;
    min-width: 15%;
    margin: 20px auto;
    justify-content: space-around;
}

.sign-up{
    color: red;
    background: none;
    
}
.sign-in{
    background: red;
    color: white;
}

button{
    min-width: 5vw;
    border-radius: 4px;
    margin: 20px auto;
    border: none;
}